<h1 class="center"> Testing Site </h1>
<p>Welcome</p>

<div class="row" style="padding:10px">
    <button class="btn btn-danger" (click)="incrementCounter()"><i class="fab fa-apple"></i> Apple</button>
    <span style='text-align:center'>Apple Product</span>
</div>

<div class="row" style="padding:10px">
    <button class="btn btn-warning" (click)="incrementCounter()"><i class="fab fa-amazon-pay"></i> Amazon</button>
    <span>We Accept</span>
    
</div>


<div class="row" style="padding:10px">

<span class="hello">Hello World</span>

</div>

<div class="row center">

    <span>This is the center of the page...</span>

</div>

<div class="row qr">
    <button class="btn btn-ddarkgrey" (click)="incrementCounter()"><i class="fas fa-qrcode"></i></button>
    <span style='text-align:center'>QR Code</span>


</div>